.App
{
    display: grid;

    height: 80%;
    margin: 3% 7%;
    padding: 3%;

    border: 2px solid #776a6a;

    grid-template-rows: 1fr 2fr 2fr;
}

.Link
{
    cursor: pointer;

    color: #5ca7ec;
}

.Link:hover
{
    color: #025eb4;
}

.Header
{
    font-size: 18px;
    font-weight: 700;
}

.Placeholder
{
    color: #776a6a;
}

.Flex-Row-Elem
{
    margin-right: 12px;
}

.Text
{
    overflow: auto;

    min-width: 20px;
    max-width: 350px;

    white-space: nowrap;
}

/* More specific to overwrite */
.App .Form:valid
{
    border-bottom-color: #a0f5a0;
}
