.App
{
    font-family: 'Alegreya Sans', sans-serif;

    display: block;

    width: 80vw;
    height: 80%;
    margin: 3% 7%;
    padding: 3%;

    border: 2px solid #776a6a;
}

.Link
{
    cursor: pointer;

    color: #5ca7ec;
}

.Link:hover
{
    color: #025eb4;
}

.Header
{
    font-size: 18px;
    font-weight: 700;
}

.Placeholder
{
    color: #776a6a;
}

.Flex-Row-Elem
{
    margin-right: 12px;
}

.Text
{
    overflow: auto;

    max-width: 50%;

    white-space: nowrap;
}

/* More specific to overwrite */
.App .Form:valid
{
    border-bottom-color: #a0f5a0;
}

.Default-Button-Styles
{
    font-size: 1rem;

    display: inline-block;

    margin: 0;
    padding: 1rem 2rem;

    cursor: pointer;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    text-align: center;
    text-decoration: none;

    color: #3f3f3f;
    border: none;
    background: #e3e3e3;

    -webkit-appearance: none;
       -moz-appearance: none;
}

.Default-Button-Styles:hover,
.Default-Button-Styles:focus
{
    color: #000;
    background: #c3c3c3;
}

.Default-Button-Styles:focus
{
    outline: 1px solid #000;
}

.Default-Button-Styles:active
{
    transform: scale(.99);
}
