.PaymentTypesContainer
{
    display: flex;
    flex-flow: row;

    width: 95%;
    max-width: 300px;
    margin: 5px;
    padding: 0;

    border: 1.5px solid #9c9794;
}

.PaymentTypesContainer:hover .MakePayment
{
    border-right-color: #9c9794;
}

.MakePayment
{
    border-right: 1.5px solid #fff;
}

.PaymentType
{
    width: 50%;
    margin: 0;
    padding: 10px;

    text-align: center;
}

.PaymentType:hover
{
    cursor: pointer;

    background-color: #f0f0f0;
}
