.Payment-Hint
{
    font-weight: 600;
}

.PaymentRequest
{
    padding: 16px;
}

.Payment-Details
{
    width: 100%;
    max-width: 500px;
}

.Phone-Value
{
    width: 75px;
    margin-left: 2px;
    padding: 0;

    text-align: left;
}

.Phone-Warning
{
    font-size: 8px;

    margin-top: 2px;
}

.Create-Payment
{
    margin-left: 2%;
}

.Clear-Form
{
    margin-left: 3%;
}
