.Credit-Card
{
    display: inline-block;

    width: 300px;
    height: 170px;
    margin: 0 20px;

    vertical-align: top;

    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #d3d3d3;
}

.Cards-Logos
{
    position: relative;
    top: 10px;
    left: 170px;

    width: 110px;
    height: auto;
}

.Card-Form
{
    display: block;

    margin: 20px 15px;

    opacity: .5;
    border: none;
    border-bottom: 2px solid #e3e3e3;
}

.Card-Form:required,
.Card-Form:invalid
{
    border: none;
    border-bottom: 2px solid #e3e3e3;
}

.Card-Form:focus
{
    opacity: 1;
}

.Card-Number
{
    width: 200px;
    padding-left: 20px;
}

.Card-Exp,
.Card-CVC
{
    display: inline-block;

    width: 40px;
    padding-left: 10px;
}

.Card-CVC
{
    width: 30px;
}
