.OtherPaymentInfo
{
    display: inline-block;

    width: 400px;
    height: 220px;
    padding: 10px;
}

.Detail
{
    display: flex;
    justify-content: space-between;

    margin: 5px 10px;
}

.Detail-Value
{
    padding-left: 20px;

    opacity: .5;
    border: none;
    border-bottom: 2px solid #e3e3e3;
}
